<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org ">
<head >
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Admin Dashboard </title>

    <link href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="/webjars/font-awesome/4.6.1/css/font-awesome.min.css" rel="stylesheet">
    <link href="/webjars/nprogress/0.2.0/nprogress.css" rel="stylesheet">
    <link href="../vendors/google-code-prettify/bin/prettify.min.css" rel="stylesheet">
    <link href="/css/custom.min.css" rel="stylesheet">
</head>

<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <div class="col-md-3 left_col">
            <div class="left_col scroll-view">
                <div class="navbar nav_title" style="border: 0;">
                    <a href="/api/admin/" class="site_title"><i class="fa fa-paw"></i> <span>Southern learnears!</span></a>
                </div>

                <div class="clearfix"></div>

                <!-- menu profile quick info -->
                <div th:replace="Fragments/adminmenufooter :: menuquickinfo"></div>
                <!-- /menu profile quick info -->

                <!-- sidebar menu -->
                <div th:replace="Fragments/adminsidebar :: sidebar"></div>
                <!-- /sidebar menu -->

                <!-- /menu footer buttons -->
                <div th:replace="Fragments/adminmenufooter :: menufooterbuttons"></div>
                <!-- /menu footer buttons -->
            </div>
        </div>
        <!-- top navigation -->
        <div th:replace="Fragments/admintopnav :: topnav"></div>
        <!-- /top navigation -->
        <!-- page content -->
        <div class="right_col" role="main">
            <h1>Welcome to admin dashboard!</h1>
        </div>
        <!-- /page content -->

        <!-- footer content -->
        <footer>
            <div class="pull-right">
                Southern Learners - 2020 <a href="/">Home</a>
            </div>
            <div class="clearfix"></div>
        </footer>
        <!-- /footer content -->
    </div>
</div>

<!-- compose -->
<div th:replace="Fragments/admincompose :: admincompose"></div>
<!-- /compose -->

<!-- jQuery -->
<script src="/webjars/jquery/2.2.3/jquery.min.js"></script>
<!-- Bootstrap -->
<script src="/webjars/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
<!-- FastClick -->
<script src="/webjars/fastclick/1.0.6/lib/fastclick.js"></script>
<!-- NProgress -->
<script src="../vendors/nprogress/nprogress.js"></script>
<!-- bootstrap-wysiwyg -->
<script src="../vendors/bootstrap-wysiwyg/js/bootstrap-wysiwyg.min.js"></script>
<script src="../vendors/jquery.hotkeys/jquery.hotkeys.js"></script>
<script src="../vendors/google-code-prettify/src/prettify.js"></script>

<!-- Custom Theme Scripts -->
<script src="/js/custom.min.js"></script>

</body>
</html>